/*
*	Required CSS for jQuery.superCuteForms.js
*
*	You will need to change height, width, images for your needs
*/

/* checkboxes & radios */

div.checkbox.superCuteFormElemWrapper, div.radio.superCuteFormElemWrapper {
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}
div.checkbox.superCuteFormElemWrapper input, div.radio.superCuteFormElemWrapper input {
	position: absolute;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	opacity: 0;
	/* opacity fallbacks */
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;

}
div.checkbox.superCuteFormElemWrapper div, div.radio.superCuteFormElemWrapper div {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

div.checkbox.superCuteFormElemWrapper div.checked {
	background: no-repeat 0px -25px url(../img/sprite_map/input_select.png);
	border: thin solid #aaa;
}
div.checkbox.superCuteFormElemWrapper div.unchecked {
	background: no-repeat 0px -42px url(../img/sprite_map/input_select.png);
	border: thin solid #aaa;
}
div.radio.superCuteFormElemWrapper div.checked {
	background: no-repeat 0px -59px url(../img/sprite_map/input_select.png);
}
div.radio.superCuteFormElemWrapper div.unchecked {
	background: no-repeat 0px -76px url(../img/sprite_map/input_select.png);
}

/* selects */

/*
*	Wrapping div is added automatically via js, and will require CSS adjustment so that it is
*	less wide than the select (overflow hidden hides default arrow). Your img will depend on the
*	overlap necessary.
*/

div.select.superCuteFormElemWrapper {
	height: 24px;
	width: 150px;
	background: no-repeat right 0px url(../img/sprite_map/input_select.png);
	overflow: hidden;
	background-color: #FAFAFA;
	border: 1px solid #ccc;
}
div.select.superCuteFormElemWrapper select {
	height: 24px;
	width: 170px;
	outline: none;
	background: transparent;
	border: none;
	color: #000;
	line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	/* If you add too much padding here, the options won't show in IE
	padding: 2px; */
}